// Descriptive color variables

$white        :#fff;
$black        :#000;
$gray         :#878787;
$royal-blue   :#6361ED;
$river-bed    :#48525c;
$saffron      : #F5BA24;
$screamin-green  :#71F14B;
$jaffa        : #F19D4B;
$rose         : #FCABEB;
$violet       :#AD3CEC;

// Functional Color Variables

$color-prim      : $saffron;
$color-sec       : $river-bed;

$color-text-light : $white;
$color-text-base  : $gray;
$color-text-dark  : $river-bed;

$color-text-light  : lighten($gray, 35%);
$color-text-dark  : $saffron;

$color-link-default : $saffron;
$color-link-visited : $royal-blue;

$color-shadow   :  rgba($black,.8);
$color-body     :  $white;



// breakpoints

    $break-m: 768px;
