/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    transition: background-color 0.2s ease-out;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
   
  }
  
  .default {
    background-color: $gray;
  }
  
  .error {
    background-color: $jaffa;
  }
  
  .info {
    background-color: $royal-blue;
  }
  
  .success {
    background-color: $screamin-green;
  }
  
  .warning {
    background-color: $saffron;
  }