/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: $gray;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $Screamin-Green;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $gray;
  }
  
  .link {
    color: $royal-blue;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $Jaffa;
    border-radius: 5px;
  }
  